#dapp_modal {
    transform: translateY(-100%);
    display: block;
    opacity: 0;
    z-index: -1;

    &.show_modal {
        opacity: 1;
        transform: translateY(50px);
        z-index: 10;
    }

    &.modal.fade.show_modal .modal-dialog {
        transform: none;
    }

    #btn {
        background-color: #2486e3;
    }
}